@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@media only screen and (max-width: 760px),
(min-device-width: 802px) and (max-device-width: 1020px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    .empty { display: none;}
    th {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr { border: 1px solid #ccc;}
    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    td:nth-of-type(1):before {content: "Sunday";}
    td:nth-of-type(2):before {content: "Monday";}
    td:nth-of-type(3):before {content: "Tuesday";}
    td:nth-of-type(4):before {content: "Wednesday";}
    td:nth-of-type(5):before {content: "Thursday";}
    td:nth-of-type(6):before {content: "Friday";}
    td:nth-of-type(7):before {content: "Saturday";}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    body {
        padding: 0;
        margin: 0;
    }
}
@media only screen and (min-device-width: 802px) and (max-device-width: 1020px) {
    body {
        width: 495px;
    }
}
@media (min-width:641px) {
    table {
        table-layout: fixed;
    }
    td {
        width: 33%;
    }
}
.row{margin-top: 20px;}
.today{background:#fff0b3;}
body {
    font-family: Montserrat, sans-serif;
}
button {
    border-radius:20px;
    background-color:#33ABCA;
    border:none;
    color:white;
    padding:5px 10px;
}
.main-content {
    padding-top: -100px;
    padding-bottom: 100px;
}
.table-1 {
    border-spacing: 30px 15px;
    border-collapse: separate;
    padding:20px;
    text-align:center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.table-1 thead tr th,
.table-1 thead tr td,
.table-1 tbody tr th,
.table-1 tbody tr td {
    text-align:center;
    vertical-align: middle;
    border: none;
}
.table-1 thead tr th:nth-last-child(1),
.table-1 thead tr td:nth-last-child(1),
.table-1 tbody tr th:nth-last-child(1),
.table-1 tbody tr td:nth-last-child(1) {
    text-align: center;
    padding:40px;
}
.table-1 tbody tr {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.table-1 tbody tr td {
    background: #fff;
}
.table-1 tbody tr td:nth-child(1) {
    border-radius: 5px 0 0 5px;
}
.table-1 tbody tr td:nth-last-child(1) {
    border-radius: 0 5px 5px 0;
}